In [30]:
from pyspark.sql import SparkSession, Window
from pyspark.sql.functions import col, lit, row_number

spark = SparkSession.builder \
    .appName("Test JDBC") \
    .getOrCreate()

jdbc_url = "jdbc:postgresql://postgres_db:5432/abd_lr2"
jdbc_props = {
    "user": "postgres",
    "password": "14LgiN",
    "driver": "org.postgresql.Driver"
}

In [31]:
stg = spark.read.jdbc(
    url=jdbc_url,
    table="public.imported_mock_data",
    properties=jdbc_props
)

In [9]:
stg.show(5)

+----+-------------------+------------------+------------+--------------------+----------------+--------------------+-----------------+-----------------+------------------+-----------------+----------------+--------------------+--------------+------------------+------------+----------------+-------------+----------------+----------+----------------+--------------+---------------+-------------+----------------+----------+--------------+-----------+-----------+-------------+------------+--------------------+------------+--------------+-------------+------------+-------------+----------------+--------------------+--------------+---------------+--------------------+-------------------+-------------+----------------+--------------------+--------------+----------------+--------------+----------------+
|  id|customer_first_name|customer_last_name|customer_age|      customer_email|customer_country|customer_postal_code|customer_pet_type|customer_pet_name|customer_pet_breed|seller_first_name|seller_last_name|        seller_email|seller_country|seller_postal_code|product_name|product_category|product_price|product_quantity| sale_date|sale_customer_id|sale_seller_id|sale_product_id|sale_quantity|sale_total_price|store_name|store_location| store_city|store_state|store_country| store_phone|         store_email|pet_category|product_weight|product_color|product_size|product_brand|product_material| product_description|product_rating|product_reviews|product_release_date|product_expiry_date|supplier_name|supplier_contact|      supplier_email|supplier_phone|supplier_address| supplier_city|supplier_country|
+----+-------------------+------------------+------------+--------------------+----------------+--------------------+-----------------+-----------------+------------------+-----------------+----------------+--------------------+--------------+------------------+------------+----------------+-------------+----------------+----------+----------------+--------------+---------------+-------------+----------------+----------+--------------+-----------+-----------+-------------+------------+--------------------+------------+--------------+-------------+------------+-------------+----------------+--------------------+--------------+---------------+--------------------+-------------------+-------------+----------------+--------------------+--------------+----------------+--------------+----------------+
|8704|               Arny|        O'Docherty|          63|cbrasteadjj@media...|     Philippines|                8427|              cat|           Rosita|          Parakeet|           Carola|        Brastead|cbrasteadjj@print...|    Kazakhstan|              NULL|     Cat Toy|             Toy|         5.29|              31|2021-11-09|            8704|          8704|           8704|            4|          163.84|   Dynabox|      Suite 28|   San Jose|       NULL|  Philippines|433-234-0699|cbrasteadjj@senat...|       Birds|          24.5|         Mauv|       Small|   Shuffletag|         Plastic|Fusce consequat. ...|           1.2|            438|          2016-08-26|         2026-07-27|      Devcast| Carola Brastead|cbrasteadjj@exblo...|  951-993-1511|    PO Box 48098|       Shalkar|           China|
|9846|               Kerr|           Cordall|          69|rchevinsnh@jiathi...|    Saudi Arabia|                NULL|             bird|             Mary|           Siamese|            Rolfe|         Chevins|rchevinsnh@cafepr...|      Portugal|          7350-005|     Cat Toy|             Toy|        64.74|              45|2021-12-18|            9846|          9846|           9846|            6|           73.62|  Centidel|      Suite 65|Al Fuwayliq|       NULL|       Russia|540-183-0104|rchevinsnh@tripod...|        Fish|          31.3|         Mauv|      Medium|        Mydeo|           Vinyl|Aenean lectus. Pe...|           4.8|            581|          2012-11-28|         2025-08-07|    Riffpedia|   Rolfe Chevins|rchevinsnh@alexa.com|  685-478-7606|    PO Box 89938|         Elvas|           China|
|9610|             Tamera|              Pert|          43|  gfiskegx@europa.eu|           China|                NULL|              cat|           Jewell|           Siamese|        Gilemette|           Fiske|    gfiskegx@msn.com|     Indonesia|              NULL|    Dog Food|            Food|        26.35|              11|2021-09-09|            9610|          9610|           9610|            1|          258.87|   Cogibox|      Room 258|    Longzui|       NULL|   Kyrgyzstan|984-234-7211|  gfiskegx@house.gov|       Birds|          27.9|         Teal|       Small|      Gabspot|           Stone|In congue. Etiam ...|           1.7|            708|          2010-08-18|         2026-12-16|       Mybuzz| Gilemette Fiske|    gfiskegx@tiny.cc|  296-975-9468|      16th Floor|Sumberkindagan|       Indonesia|
|9923|             Hedvig|           Congdon|          44|jguryspm@cloudfla...|         Bahrain|                NULL|             bird|              Red|Labrador Retriever|        Jacquelyn|           Gurys|   jguryspm@cnbc.com|          Iran|              NULL|     Cat Toy|            Food|        43.13|              10|2021-08-28|            9923|          9923|           9923|            9|          290.67|    Roombo|      Room 377|     Sitrah|       NULL|       Sweden|495-557-2650|   jguryspm@narod.ru|       Birds|           3.5|    Goldenrod|       Small|  Brainsphere|           Vinyl|Sed ante. Vivamus...|           1.2|             26|          2011-02-05|         2025-11-26|      Kwimbee| Jacquelyn Gurys|jguryspm@artistee...|  627-549-5773|      10th Floor|         Bābol|          Sweden|
|9215|               Lacy|           McLoney|          38|dkybird5y@imagesh...|          France|       51679 CEDEX 2|              cat|           Shaine|           Siamese|          Donovan|          Kybird|dkybird5y@github.com|          Peru|              NULL|     Cat Toy|            Food|        82.43|              60|2021-02-12|            9215|          9215|           9215|            9|          462.77|     Quatz|  PO Box 10100|      Reims|         A4|       France|355-983-5985|   dkybird5y@epa.gov|        Fish|           4.4|        Green|       Small|         Izio|           Glass|In hac habitasse ...|           1.5|            186|          2011-06-25|         2028-04-24| Thoughtstorm|  Donovan Kybird|dkybird5y@sphinn.com|  305-554-7534|         Room 24|      Huacachi|       Indonesia|
+----+-------------------+------------------+------------+--------------------+----------------+--------------------+-----------------+-----------------+------------------+-----------------+----------------+--------------------+--------------+------------------+------------+----------------+-------------+----------------+----------+----------------+--------------+---------------+-------------+----------------+----------+--------------+-----------+-----------+-------------+------------+--------------------+------------+--------------+-------------+------------+-------------+----------------+--------------------+--------------+---------------+--------------------+-------------------+-------------+----------------+--------------------+--------------+----------------+--------------+----------------+
only showing top 5 rows

In [10]:
# pet_breeds
stg.select(col("customer_pet_breed").alias("pet_breed_description")) \
   .distinct() \
   .write.jdbc(jdbc_url, "public.pet_breeds", "append", jdbc_props)

# pet_types
stg.select(col("customer_pet_type").alias("pet_type_name")) \
   .distinct() \
   .write.jdbc(jdbc_url, "public.pet_types", "append", jdbc_props)

# brands
stg.select(col("product_brand").alias("brand_name")) \
   .distinct() \
   .write.jdbc(jdbc_url, "public.brands", "append", jdbc_props)

# colors
stg.select(col("product_color").alias("color_name")) \
   .distinct() \
   .write.jdbc(jdbc_url, "public.colors", "append", jdbc_props)

# materials
stg.select(col("product_material").alias("material_name")) \
   .distinct() \
   .write.jdbc(jdbc_url, "public.materials", "append", jdbc_props)

# product_categories
stg.select(col("product_category").alias("product_category_name")) \
   .distinct() \
   .write.jdbc(jdbc_url, "public.product_categories", "append", jdbc_props)

# sizes
stg.select(col("product_size").alias("size_description")) \
   .distinct() \
   .write.jdbc(jdbc_url, "public.sizes", "append", jdbc_props)

# countries (из трёх колонок)
countries = (
    stg.select(col("customer_country").alias("country"))
       .union(stg.select(col("seller_country").alias("country")))
       .union(stg.select(col("store_country").alias("country")))
       .union(stg.select(col("supplier_country").alias("country")))
)
countries.distinct() \
         .withColumnRenamed("country", "country_name") \
         .write.jdbc(jdbc_url, "public.countries", "append", jdbc_props)

# cities (store + supplier)
cities = (
    stg.select(col("store_city").alias("city"))
       .union(stg.select(col("supplier_city").alias("city")))
)
cities.distinct() \
      .withColumnRenamed("city", "city_name") \
      .write.jdbc(jdbc_url, "public.cities", "append", jdbc_props)

# supplier_names
stg.select(col("supplier_name").alias("supplier_name_description")) \
   .distinct() \
   .write.jdbc(jdbc_url, "public.supplier_names", "append", jdbc_props)

# pet_categories
stg.select(col("pet_category").alias("pet_category_name")) \
   .distinct() \
   .write.jdbc(jdbc_url, "public.pet_categories", "append", jdbc_props)

In [32]:
pet_breeds_df   = spark.read.jdbc(jdbc_url, "public.pet_breeds", properties=jdbc_props)
pet_types_df    = spark.read.jdbc(jdbc_url, "public.pet_types", properties=jdbc_props)
brands_df    = spark.read.jdbc(jdbc_url, "public.brands", properties=jdbc_props)
colors_df    = spark.read.jdbc(jdbc_url, "public.colors", properties=jdbc_props)
materials_df    = spark.read.jdbc(jdbc_url, "public.materials", properties=jdbc_props)
product_categories_df    = spark.read.jdbc(jdbc_url, "public.product_categories", properties=jdbc_props)
sizes_df    = spark.read.jdbc(jdbc_url, "public.sizes", properties=jdbc_props)
countries_df = spark.read.jdbc(jdbc_url, "public.countries", properties=jdbc_props)
cities_df    = spark.read.jdbc(jdbc_url, "public.cities", properties=jdbc_props)
supplier_names_df    = spark.read.jdbc(jdbc_url, "public.supplier_names", properties=jdbc_props)
pet_categories_df    = spark.read.jdbc(jdbc_url, "public.pet_categories", properties=jdbc_props)

In [12]:
# -------------------------------------------------------------------
# 4) Fact tables: WINDOW + запись
# -------------------------------------------------------------------

# customers
w_cust = Window.partitionBy("sale_customer_id").orderBy(col("sale_date").desc())
cust = (
    stg.withColumn("rn", row_number().over(w_cust))
       .filter(col("rn") == 1)
       .select(
          col("sale_customer_id").alias("customer_id"),
          col("customer_first_name"),
          col("customer_last_name"),
          col("customer_age"),
          col("customer_email"),
          col("customer_postal_code"),
          col("customer_pet_name"),
          col("customer_country").alias("country_name"),
          col("customer_pet_type").alias("pet_type_name"),
          col("customer_pet_breed").alias("pet_breed_description")
       )
)
# джойн с lookup-таблицами, чтобы получить ID
cust = (
    cust
    .join(countries_df, cust.country_name == countries_df.country_name) \
      .drop("country_name") \
    .join(pet_types_df, cust.pet_type_name == pet_types_df.pet_type_name) \
      .drop("pet_type_name") \
    .join(pet_breeds_df, cust.pet_breed_description == pet_breeds_df.pet_breed_description) \
      .drop("pet_breed_description")
)
cust.select(
    "customer_id","customer_first_name","customer_last_name","customer_age",
    "customer_email","customer_postal_code","customer_pet_name",
    col("country_id").alias("customer_country_id"),
    col("pet_type_id").alias("customer_pet_type_id"),
    col("pet_breed_id").alias("customer_pet_breed_id")
).write.jdbc(jdbc_url, "public.customers", "append", jdbc_props)

In [13]:
# products
w_prod = Window.partitionBy("sale_product_id").orderBy(col("sale_date").desc())
prod = (
    stg.withColumn("rn", row_number().over(w_prod))
       .filter(col("rn") == 1)
       .select(
         col("sale_product_id").alias("product_id"),
         col("product_name"),
         col("product_price"),
         col("product_category").alias("product_category_name"),
         col("product_weight"),
         col("product_color").alias("color_name"),
         col("product_size").alias("size_description"),
         col("product_brand").alias("brand_name"),
         col("product_material").alias("material_name"),
         col("product_description"),
         col("product_rating"),
         col("product_reviews"),
         col("product_release_date"),
         col("product_expiry_date"),
         col("product_quantity")
       )
)
# джойним lookup
prod = (
    prod
    .join(product_categories_df, "product_category_name")
    .join(colors_df, "color_name")
    .join(sizes_df, "size_description")
    .join(brands_df, "brand_name")
    .join(materials_df, "material_name")
)
prod.select(
    "product_id","product_name","product_price","product_weight",
    col("product_category_id"),
    col("color_id").alias("product_color_id"),
    col("size_id").alias("product_size_id"),
    col("brand_id").alias("product_brand_id"),
    col("material_id").alias("product_material_id"),
    "product_description","product_rating","product_reviews",
    "product_release_date","product_expiry_date","product_quantity"
).write.jdbc(jdbc_url, "public.products", "append", jdbc_props)

In [14]:
# sellers
w_seller = Window.partitionBy("sale_seller_id").orderBy(col("sale_date").desc())
seller = (
    stg.withColumn("rn", row_number().over(w_seller))
       .filter(col("rn") == 1)
       .select(
         col("sale_seller_id").alias("seller_id"),
         col("seller_first_name"),
         col("seller_last_name"),
         col("seller_email"),
         col("seller_country").alias("country_name"),
         col("seller_postal_code")
       )
)
seller = seller.join(countries_df, "country_name") \
               .select(
                 "seller_id","seller_first_name","seller_last_name",
                 "seller_email", col("country_id").alias("seller_country_id"),
                 "seller_postal_code"
               )
seller.write.jdbc(jdbc_url, "public.sellers", "append", jdbc_props)

In [35]:
# stores
w_store = Window.orderBy(col("sale_date").desc())
store = (
    stg.withColumn("rn", row_number().over(w_store))
       .select(
         "store_name","store_location","store_city","store_state",
         "store_country","store_phone","store_email"
       )
        .distinct()
)
# lookup city, country
store = (
    store
    .join(cities_df,   store.store_city   == cities_df.city_name)
    .join(countries_df, store.store_country== countries_df.country_name)
)
store.select(
  "store_name","store_location",
  col("city_id").alias("store_city_id"),
  "store_state",
  col("country_id").alias("store_country_id"),
  "store_phone","store_email"
).write.jdbc(jdbc_url, "public.stores", "append", jdbc_props)

In [34]:
# suppliers
w_supp = Window.orderBy(col("sale_date").desc())
supp = (
    stg.withColumn("rn", row_number().over(w_supp))
       .select(
         "supplier_contact","supplier_email","supplier_phone","supplier_address",
         col("supplier_city").alias("city_name"),
         col("supplier_country").alias("country_name"),
         col("supplier_name").alias("supplier_name_description")
       )
        .distinct()
)
supp = (
    supp
    .join(cities_df, "city_name")
    .join(countries_df, "country_name")
    .join(supplier_names_df, "supplier_name_description")
)
supp.select(
  "supplier_contact","supplier_email","supplier_phone","supplier_address",
  col("city_id").alias("supplier_city_id"),
  col("country_id").alias("supplier_country_id"),
  col("supplier_name_id")
).write.jdbc(jdbc_url, "public.suppliers", "append", jdbc_props)

In [37]:
customers_df   = spark.read.jdbc(jdbc_url, "public.customers", properties=jdbc_props)
products_df   = spark.read.jdbc(jdbc_url, "public.products", properties=jdbc_props)
sellers_df   = spark.read.jdbc(jdbc_url, "public.sellers", properties=jdbc_props)
stores_df   = spark.read.jdbc(jdbc_url, "public.stores", properties=jdbc_props)
suppliers_df   = spark.read.jdbc(jdbc_url, "public.suppliers", properties=jdbc_props)

In [51]:
# sales
w_sale = Window.partitionBy("id").orderBy(col("sale_date").desc())
sale = (
    stg.withColumn("rn", row_number().over(w_sale))
       .select(
         col("id").alias("sale_id"),
         col("sale_customer_id"),col("sale_seller_id"),col("sale_product_id"),
         col("sale_quantity"),col("sale_total_price"),
         "store_name","store_location","store_city","store_state","store_country","store_phone","store_email",
         "pet_category","supplier_name","supplier_contact","supplier_email","supplier_city","supplier_country",
         "supplier_phone","supplier_address",
         "sale_date"
       )
        .distinct()
)
# сделаем предварительные джойны для store_join и supplier_join
store_join = stores_df \
    .join(cities_df, stores_df.store_city_id       == cities_df.city_id) \
    .join(countries_df, stores_df.store_country_id == countries_df.country_id) \
    .selectExpr(
      "store_id", "store_name", "store_location",
      "city_name as store_city", "store_state",
      "country_name as store_country","store_phone","store_email"
    )
supplier_join = suppliers_df \
    .join(cities_df,   suppliers_df.supplier_city_id       == cities_df.city_id) \
    .join(countries_df, suppliers_df.supplier_country_id   == countries_df.country_id) \
    .join(supplier_names_df, suppliers_df.supplier_name_id == supplier_names_df.supplier_name_id) \
    .selectExpr(
      "supplier_contact_id","supplier_contact","supplier_email",
      "supplier_phone","supplier_address",
      "city_name as supplier_city","country_name as supplier_country",
      "supplier_name_description as supplier_name"
    )

sale = (
    sale
    .join(store_join, 
          on=[
            sale.store_name    == store_join.store_name,
            sale.store_location== store_join.store_location,
            sale.store_city    == store_join.store_city,
            sale.store_state.eqNullSafe(store_join.store_state),
            sale.store_country == store_join.store_country,
            sale.store_phone   == store_join.store_phone,
            sale.store_email   == store_join.store_email
          ], how="left")
    .join(pet_categories_df, sale.pet_category == pet_categories_df.pet_category_name, how="left")
    .join(supplier_join,
          on=[
            sale.supplier_name    == supplier_join.supplier_name,
            sale.supplier_contact == supplier_join.supplier_contact,
            sale.supplier_email   == supplier_join.supplier_email,
            sale.supplier_phone   == supplier_join.supplier_phone,
            sale.supplier_address == supplier_join.supplier_address,
            sale.supplier_city    == supplier_join.supplier_city,
            sale.supplier_country == supplier_join.supplier_country
          ], how="left")
    .select(
      "sale_id","sale_customer_id","sale_seller_id","sale_product_id",
      "sale_quantity","sale_total_price",
      col("store_id").alias("sale_store_id"),
      col("pet_category_id").alias("sale_pet_category_id"),
      col("supplier_contact_id").alias("sale_supplier_contact_id"),
      "sale_date"
    )
)
sale.write.jdbc(jdbc_url, "public.sales", "append", jdbc_props)

print("Data loaded")

Data loaded

In [52]:
spark.stop()